@font-face
{
	src: url(Roboto-Light.ttf);
	font-family: Roboto;
}


.TitleAndHeading
{
	font-family: "Roboto";
	text-align: center;
	margin-left: 20%;
	font-weight:normal;
	color: white;
}

#HoverImage
{
	width: 100%;
	transition: .2s;
}

#HoverImage:hover
{
	transform: scale(2) translate(-25%,0);
	padding-right: 50px;
}