@font-face
{
	src: url(DejaVuSans.ttf);
	font-family: DejaVu;
}

.sideNavBar
{
	height: 100%;
	width: 20%;
	background-color: #111;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	position: fixed;
	padding-top: 20px;
}

.navButton
{
	font-family: "DejaVu";
	border: solid black;
	background: linear-gradient(to right, black 50%, white 50%);
	background-size: 200% 100%;
	background-position: right;
	color: black;
	transition: 0.5s;
}

.navButton:hover
{
	background-position: left;
	color: white;
}

.navButton:active
{
	transition: 0.1s;
	background: white;
	color: white;
}